# ASP.NET Core
bin/
obj/
appsettings.json
.vscode/
.vs/
*.suo
*.user
*.vscode
*.log
*.userprefs
*.bak
*.cache
*.DS_Store
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
*.swj
*.swi
*.swg
*.swf
*.swd
*.swc
*.swb
*.swa
*.sw
*.s
*.sbr
*.pch
*.idb
*.pdb
*.ipch/
/Harvester/appsettings.json
/CropForce/appsettings.Development.json
/CropForce/appsettings.Development.json
/node_modules
node_modules
